:root {
    --cor-primaria: #FFFFFF;
    --cor-secundaria: #F9F9F9;
    --cor-terciaria: #C0C0C0;
    --cor-botao: #167BF7;
    --cor-fundo: #00030C;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-fundo);
    color: #FFFFFF;
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("../assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__botao {
    background-color: var(--cor-botao);
    border-radius: 4px;
    padding: 1em;
    color: var(--cor-primaria);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--cor-primaria);
}

.container__aviso {
    font-size: 12px;
    color: var(--cor-terciaria);
}

.secundario {
    align-items: center;
    margin: 0 10em;
}

.secundario__imagem {
    width: 80%;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--cor-primaria);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cor-secundaria);
    font-weight: 400;
}

.botao_combo {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--cor-primaria);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.lista__item {
    font-size: 32px;
    color: var(--cor-primaria);
}

.footer {
    text-align: center;
    margin: 5em 1em;
}

.footer__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-decoration: none;
    margin: 2em;
}

.lista__ancora {
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 16px;
    margin-left: 1em;
}

.footer__texto {
    font-size: 14px;
    font-weight: 400;
    color: var(--cor-terciaria);
}